
/****************************************************************/
/*                      Basis document styling                  */
/****************************************************************/

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Outfit", sans-serif;
}


/****************************************************************/
/*                         Header styling                       */
/****************************************************************/


header {
    position: relative;
    
    margin: .5em;
    padding: .2em;

    background-color: white;
}

header h1 {
    position: absolute;

    top: 1.5em;
}

header h1 img {
    width: 2.3em;
    height: auto;
}

header section {
    position: fixed;
    top: 3.5em;
    right: 1em;

    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;

}

header section img {
    width: 3.2em;
    height: auto;
}

/****************************************************************/
/*                           Main styling                       */
/****************************************************************/

main>img {
    width: 100%;
    height: auto;

    display: flex;
    flex-grow: 1;
    top: -3em;
}



main h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;

    font-size: 1.5em;
}

/***         Article 1 Caroussel         ***/
/*******************************************/



@keyframes eersteTekst {
    0% {
        transform: translate(0, 0);
        transform: rotate(2deg);
        }
    40% {
        transform: translate(0, 0);
        }
    70% {
        transform: translate(0, -8em);
    }
    100% {
        transform: translate(0, -12em);

    }
    }

@keyframes tweedeTekst {
    0% {
        transform: translate(0, 0em);
        transform: rotate(2deg);
    }
    40% {
        transform: translate(0, 0);
        transform: rotate(2deg);
    }
    50% { 
        transform: translate(0, 3em);
        transform: rotate(2deg);
    }
    80% {
        transform: translate(0, 8.5em);
    }
    100% {
        transform: translate(0, 8.5em);
    }
}

main article:first-of-type {
    background-image: linear-gradient(to bottom right, #1E1638, #251357);
    color: white;

    display: flex;
    flex-direction: column;

    padding: 2.2em;
    padding-bottom: 5em;
    margin-top: -2em;
    margin-bottom: 1em;

    transform: skewY(-5deg);
    overflow: hidden;

    position: relative;
}
 


main article:first-of-type section:first-of-type {

    padding: 2em;
    padding-bottom: 5em;
    margin-top: -2em;
    margin-bottom: 1em;
    margin-left: -2em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transform: skewY(-5deg);


    position: absolute;
    top: -12em;

    animation-name: tweedeTekst; 
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}


main article:first-of-type section a {
    background-color: #FF4B37;
    color: white;
    text-decoration: none;
    padding: .5em;
    padding-right: .8em;
    padding-left: .8em;
    margin-top: .6em;
    margin-left: 1em;
    border-radius: 20px;

}

main article:first-of-type h2 p {
    display: block;
}


main article:first-of-type section:first-of-type h2 {
    padding-bottom: .5em;

    animation-name: tweedeTekst; 
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}



main article:first-of-type p {
    animation-name: tweedeTekst; 
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

main article:first-of-type section:nth-of-type(2) {
    animation-name: eersteTekst; 
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

main article:first-of-type section:nth-of-type(2) h2{
    animation-name: eersteTekst; 
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

main article:first-of-type section:nth-of-type(2) p{
    animation-name: eersteTekst; 
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}


/***   Article 'Dit is Air Up'    ***/
/************************************/
main article:nth-of-type(2) {
    overflow: scroll;
    margin-top: 3em;

    padding: 2em;
    padding-bottom: 5em;
    margin-top: .5em;
}


main article:nth-of-type(2) p {
    font-weight: 400;

    margin-left: auto;
    margin-right: auto;
}



/****      Section       ****/








main>section {
    font-weight: 350;

    text-align: center;
}

main>section img {
    width: 8em;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1.3em;
    margin-left: auto;
    margin-right: auto;
}

main>section section:first-child, main>section section:nth-of-type(2), main>section section:nth-of-type(3) {
    display: block;

    padding: 1em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin: 1em;
}

main>section a {
    display: block;

    position: relative;
    
    text-decoration: none;
    font-weight: 400;
    color: #FC442F;

    margin: 1em;
    padding: 1em;

    transition: .3s;
}

main>section a:hover {
    font-weight: 900;
    color: #651b13;
}

main>section a::before {
    content: "";
    background-color: #FC442F;  
    
    position: absolute;

    left: .5em;
    right: .5em;
    bottom: -.10em;

    height: .25em;

    border-radius: .125em;

    transform: scaleX(0);
    transition: .3s;
}

main>section a:hover::before {
    transform: scaleX(.4);
}







/***         Article 'Hoe werkt Air up'          ***/
/***************************************************/

main article:nth-of-type(3) {
    padding: 2em;
}

main article:nth-of-type(5) section img {
    width: 4em;
    height: auto;
}

main article:nth-of-type(3) p {
    font-weight: 400;
}








/***         Article 'Top producten'          ***/
/************************************************/

main article:nth-of-type(4) {
    background-color: pink;
    padding: 2em;
}

main article:nth-of-type(4) section {

    
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

main article:nth-of-type(4) img {
    width: 85%;
    height: auto;

    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;


    display: flex;
    justify-content: center;
    align-items: center;
}

main article:nth-of-type(4) div div {
    display: flex;
    justify-content: space-evenly;

    margin: 1em;
}

main article:nth-of-type(4) div div p:nth-of-type(2), p:nth-of-type(4), p:nth-of-type(6) {
    padding-left: 1em;
    padding-right: 0;
    margin-right: 0;

    color: #4A0C8B;
}

main article:nth-of-type(4) div button {
    font-family: "Outfit", sans-serif;

    padding: .7em;
    margin: 2em;

    border-radius: 2em;
    border: none;

    background-color: #4A0C8B;
    color: white;

    display: flex;
    flex-flow: 1;
}








@media (min-width: 800px) {
   
    /*        Alle kopjes        */
    /*****************************/
    main h3 {
        text-align: center;
    }


    /*         Caroussel         */
    /*****************************/
    main article:first-of-type {
        transform: skewY(-2deg);
    }


    /*       Dit is Air Up       */
    /*****************************/
    main>section  {
        display: flex;
        justify-content: space-evenly;
    }


    /*       Link underline (Lees meer)     */
    /****************************************/
    main>section a:hover::before {
        transform: scaleX(.8);
    }


    /*        Top producten        */
    /*******************************/
    main article:nth-of-type(4) section{
        display: flex;
        justify-content: space-evenly;
    }

    main article:nth-of-type(4) img {
        width: 17em;
        height: auto;
    }
}